*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: hsl(212, 45%, 89%);  
}

.content{
    min-height: 450px;
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 15px;
    margin: 0 auto;
    background-color: hsl(0, 0%, 100%);
   
}

.content img{
    width: 250px;
    border-radius: 10px;
}

.text{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.text h1{
    font-size: 15px;
    font-weight: 700;
}

.text p{
    font-size: 15px;
    font-weight: 400;
    color: hsl(220, 15%, 55%);
}

.attribution{
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px;
}

@media only screen and (max-width: 599px){
    .content{
        width: 90%
    }

    .content img{
        max-width: 375px;
        width: 80%;
    }
}